# App
APP_NAME="Board Game Rulebook Assistant"
ENV=development
DEBUG=true

# Database
DATABASE_URL=sqlite:///./boardgame.sqlite3

# JWT
JWT_SECRET_KEY=change-this-to-a-long-random-string
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

# Gemini
GEMINI_API_KEY=AIzaSyCGQ4RSpPJ-pnK7p8UMEDSvVbKxpuca5BM
GEMINI_MODEL=gemini-2.5-flash

# Vector DB
CHROMA_DIR=./chroma_db

# Upload
UPLOAD_DIR=static/uploads
MAX_FILE_SIZE=10485760
